
body {
	background-color: #000000;
	color: white;
	text-align: center;
}
div {
	margin-left: auto;
	margin-right: auto;
	display: inline;
}
.boxy {
	padding: 8px;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	width: 15%;
	height: 15%;
	margin: 20px;
	float: left;
}
.row {
	margin-bottom: 200px;
}
p {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	text-align: left;;	
	}
